body {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

canvas, body {
  background-color: rgb(37, 42, 45);
}

canvas {
  position:fixed;
  top:0;
  left:0;
  z-index: -100;
}

h1 {
  margin-left: 3rem;
  margin-right: 3rem;

  color:white;
}

.right {
  text-align: right;

}